<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs App</title>
  </head>
  <body>
    <h1>Welcome to the Blogs app!</h1>
    <p>An app for posting blogs to share with your friends!</p>
  </body>
</html>